@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* custom */
* {
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
}

a:hover {
    color: currentColor;
    text-decoration: none;
}

.para {
    color: #424447;
    font-family: "Poppins", sans-serif;
}

footer .para {
    color: #e8e8e8;
    font-size: 14px;
}

footer .heading {
    color: white;
    font-size: 24px !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

dl,
ol,
ul {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

.site-title {
    font-size: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.329);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 22, 22, 0.479);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}


html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "poppins", serif;
    scroll-behavior: smooth;
    background-color: #000000;
    color: white;
}

.object-cover {
    transition: all ease .7s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.object-contain {
    transition: all ease .7s;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo {
    transition: ease-in-out .5s;
    padding: 8px;
    height: 60px;
    width: auto;
    border-radius: 8px;
    opacity: 1;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn-SQA {
    transition: all ease .5s;
    background-color: #363636;
    color: white;
    border: 2px solid #ffffff00;
}

.btn-SQA:hover {
    background-color: white;
    color: black;
    border: 2px solid #3333338a;
}

.carousel-indicators {
    z-index: 2;
}

.text-SQA {
    color: #ef4328 !important;
}

.navlinks a{
    font-size: 18px;
}
.icon_bg a i{
    font-size: 22px;
}
.icon_bg a{
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_search {
    border: 0;
    padding: 4px 12px;
    outline: 0;
    border-radius: 6px;
    transition: all ease 0.8s;
}
.navbar_search:focus-within {
    box-shadow: 0 0 12px 0 white;
}

.notification_count, .notification_text{
    position: absolute;
    top: -6px;
    right: -9px;
    background-color: red;
    width: 20px;
    font-size: 12px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.notification_text{
    width: 30px;
    right: -14px;
    top: -10px;
}
/* new */
.rounded_images {
    border-radius: 8px;
    overflow: hidden;
}

.user-designation{
    padding-top: 8px;
    font-size: 12px;
}
.post-image{
    max-height: 70vh;
    overflow: hidden;
    border-radius: 4px;
}
.content-title{
    font-size: 16px;
}

.post-main-content{
    font-size: 14px;
}
.small-text{
    font-size: 13px;
    border-radius: 2px;
}